.GameOfFlip .header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.GameOfFlip .header > .title > h1 {
    font-size: 40px;
    margin-top: 0;
}
.GameOfFlip .header .stackedBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}
.GameOfFlip .header .stackedBtn > i {
    font-size: 30px;
    height: 100%;
    width: 80px;
}
.GameOfFlip .header .stackedBtn > span {
    font-size: 20px;
}

.GameOfFlip .currentPlayer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: rgba(255, 255, 255, 0.25); */
    border-top: 1px solid white;
    /* border-bottom: 1px solid white; */
    z-index: 1;
}
.GameOfFlip .currentPlayer > h2 {
    font-size: 30px;
    margin-top: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.GameOfFlip .currentPlayer > .letters {
    display: flex;
    justify-content: center;
    align-items: center;
}
.GameOfFlip .currentPlayer > .letters > span {
    font-size: 30px;
    margin: 0 5vw;
    color: white;
    font-weight: 800;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.25);

    transition: all 0.3s ease;
}
.GameOfFlip .currentPlayer > .letters > span.fill {
    color: #E85C05;
    border: 3px solid #E85C05;
    background-color: #FFA238;
    box-shadow: 0 0 3px 4px black;
}

.GameOfFlip .currentPlayer > .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 10px;
}
.GameOfFlip .currentPlayer > .buttons > button {
    height: 100%;
    width: 45%;
    border-radius: 999999px;
}
.GameOfFlip .currentPlayer > .buttons > button.success {
    background-color: #42A632;
}
.GameOfFlip .currentPlayer > .buttons > button.failure {
    background-color: #B01D1D;
}

.GameOfFlip .flip > img {
    width: 100%;
    height: 35vw;
    margin: 60px 0;
    transform: translateX(-50%);
    object-fit: contain;
    padding: 0 50px;
    animation: spinCounterClockwise 10s infinite linear;
}
.GameOfFlip .flip > h1 {
    margin-top: 10px;
    font-size: 12vw;
    padding: 10px;
}

button.bounce {
    animation: bounce 0.5s ease-in-out forwards;
}
@keyframes bounce {
    0% {
        transform: scale(1,1);
    }
    20% {
        transform: scale(1.1,.9);
    }
    60% {
        transform: scale(.9,1.1);
    }
    100% {
        transform: scale(1);
    }
}
button.vibrate {
    animation: vibrate 0.5s ease-in-out forwards;
}
@keyframes vibrate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.GameOfFlip .victoryMessage {
    z-index: 2;
    position: absolute;
    height: 400px;
    width: 100%;
    top: 300px;
    transform: scale(0);

    transition: transform 0.5s ease-in-out;
}
.GameOfFlip .victoryMessage.active {
    transform: scale(1);
}
.GameOfFlip .victoryMessage > h1 {
    font-size: 35px;
    color: orange;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);

}
.GameOfFlip .victoryMessage > i {
    color: #e4ba00;
    font-size: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.GameOfFlip .victoryMessage > button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    outline: none;
    font-size: 20px;
    color: white;
    border-radius: 99999px;
    background-color: #e4ba00;
    padding: 5px 20px;
}

.GameOfFlip .showScores.active {
    transform: scale(1);
}
.GameOfFlip .showScores {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transform: scale(0);
    transition: transform 0.3s ease;
    background-color: rgba(56, 56, 56, 0.904);
    border-radius: 20px;
    border: 5px solid white;
    padding: 10px;
}
.GameOfFlip .showScores > .exitMenu {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}
.GameOfFlip .showScores > .bigText {
    font-size: 35px;
    margin-top: 0;
    line-height: 35px;
    margin-bottom: 20px;
}

.GameOfFlip .showScores .player {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white}

.GameOFFlip .showScores .players {
    max-width: calc(100% - 200px);
    overflow: scroll;
}

.GameOfFlip .showScores .player .bigText {
    margin-top: 0;
    font-size: 25px;
    line-height: 25px;
}

.GameOfFlip .showScores .player .playerLetters {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.GameOfFlip .showScores .player .playerLetters > span {
    font-size: 15px;
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 99999px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.GameOfFlip .showScores .player .playerLetters > span.fill {
    color: #E85C05;
    border: 1px solid #E85C05;
    background-color: #FFA238;
    box-shadow: 0 0 3px 4px black;
}